<section id="account-body">
    <div class="body-container">
        <div class="body">

            <div class="uk-grid">

                <div class="uk-position-center credentials">
                    <form method="POST" action="create-account">

                        <div class="uk-text-center header">
                            <div class="section-container">
                                <h1 class="section-header section-text">{{title}}</h1>
                            </div>
                        </div>

                        {{#if errors}}

                        <div class="uk-text-center error">
                            <div class="error-message-container">

                                <div class="error-message section-text">
                                    {{#each errors}}
                                        <div class="uk-alert-danger">
                                            {{this.msg}}
                                        </div>
                                    {{/each}}
                                </div>

                            </div>
                        </div>
                        {{/if}}

                        <input class="uk-input credential-input credential-email" type="text" name="email" placeholder="email" value="{{email}}">

                        <input class="uk-input credential-input credential-username" type="text" name="username" placeholder="username" value="{{username}}">

                        <input class="uk-input credential-input credential-password" type="password" name="password" placeholder="password">

                        <input class="uk-input credential-input credential-confirm-password" type="password" name="confirm-password" placeholder="confirm password">

                        <button class="uk-button uk-button-default credential-input">Create</button>

                    </form>
                </div>

            </div>
           
        </div>
    </div>
</section>