<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- UIKit CSS --}}
    <link rel='stylesheet' href='/libraries/uikit/css/uikit.css' />
    <script src='/libraries/uikit/js/uikit-icons.js' ></script>
    {{!-- UIKit JS --}}
    <script src='/libraries/uikit/js/uikit.js' ></script>
    {{!-- Font import --}}
    <link href="https://fonts.googleapis.com/css?family=Raleway|Marck+Script|Ubuntu|Montserrat" rel="stylesheet">

    {{!-- Custom CSS --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <section id="NAVBAR">
      <nav class="uk-navbar-container top-nav" uk-navbar>
          <div class="uk-navbar-left">
            <div class="uk-navbar-nav">
              <a href="/" class="uk-navbar-item uk-logo nav-brand-name">FESTIVUS</a>
            </div>
          </div>

          <div class="uk-navbar-right">
            

              <ul class="uk-navbar-nav uk-navbar-right navbar-items">
                <li>
                  <a class="navbar-item" href="/">Home</a>
                </li>
                <li>
                  <a class="navbar-item" href="/search">Search</a>
                </li>
                <li>
                  <a class="navbar-item" href="/auth/spotify">Link Spotify</a>
                </li>
              </ul>
          </div>
      </nav>
    </section>

    {{{body}}}

    <section id="FOOTER">

    </section>

  </body>
</html>
