<section id="account-body">
    <div class="body-container">
        <div class="body">

            <div class="uk-grid">

                <div class="uk-position-center credentials">
                    <form>

                        <div class="uk-text-center header">
                            <div class="section-container">
                                <h1 class="section-header section-text">{{title}}</h1>
                            </div>
                        </div>

                        <input class="uk-input credential-input credential-username" type="text" name="username" placeholder="username">

                        <input class="uk-input credential-input credential-password" type="password" name="password" placeholder="password">

                        <button class="uk-button uk-button-default credential-input">Login</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>