<section id="account-body">
    <div class="body-container">
        <div class="body">

            <div class="uk-grid">

                <div class="uk-position-center credentials">
                    <form method="POST" action="login">

                        <div class="uk-text-center header">
                            <div class="section-container">
                                <h1 class="section-header section-text">{{title}}</h1>
                            </div>
                        </div>
                        
                        <input class="uk-input credential-input credential-username" type="text" name="username" placeholder="username">

                        <input class="uk-input credential-input credential-password" type="password" name="password" placeholder="password">

                        <div>
                            <button class="uk-button uk-button-default credential-input">Login</button>
                        </div>
                        
                        <div>
                            <a href="/account/register" class="uk-button uk-button-secondary">Register Here</a>
                        </div>
                    </form>
                     
                </div>

            </div>
        </div>
    </div>
</section>