<div class="errorBody-container">
    <div class="errorBody">

        <div class="errorStatus-container">
            <div class="errorStatus">
                {{title}}
                {{username}}
            </div>
        </div>

    </div>
</div>


