<section id="BODY">
   <section id="SEARCH">
       <nav class="uk-navbar-container search-bar" uk-navbar>
            <div class="uk-navbar-left">

                <div class="uk-navbar-item">
                    <form class="uk-search uk-search-navbar festival-search" action="/search" method="POST">
                        <span uk-search-icon></span>
                        <input class="uk-search-input searchQuery" name="searchQuery" type="search" placeholder="Search...">
                    </form>
                </div>

            </div>
        </nav>
{{!--         
        <div class="filter-container">
            <div class="filter">
                <div class="filter-properties">
                    <div class="boundary uk-panel uk-placeholder uk-width-2-3@s">

                        <button class="uk-button uk-button-default uk-float-left" type="button">Hover</button>
                        <div uk-dropdown="boundary: .boundary">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-nav-header">Header</li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
   </section>
   <section id="SEARCH-RESULTS">
    <div class="result-container">

        <div class="uk-child-width-1-4@m" uk-grid>


            {{#each searchResults}}
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">
                                {{name}}
                            </h3>
                            <div class="uk-column-1-2">
                                <div class="festival-card-stats festival-card-stats-region">
                                    {{location}}
                                </div>
                                
                                <div class="festival-card-stats festival-card-stats-genre">
                                    {{location}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}

            {{!-- <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">EDC</h3>
                        <div class="uk-column-1-2">
                            <div class="festival-card-stats festival-card-stats-region">
                                Las Vegas
                            </div>
                            
                            <div class="festival-card-stats festival-card-stats-genre">
                                EDM
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}


   </section>
</section>