<section id="BODY">
   <section id="SEARCH">
       <nav class="uk-navbar-container search-bar" uk-navbar>
            <div class="uk-navbar-left">

                <div class="uk-navbar-item">
                    <form class="uk-search uk-search-navbar festival-search" action="/search" method="POST">
                        <span uk-search-icon></span>
                        <input class="uk-search-input searchQuery" name="searchQuery" type="search" placeholder="Search...">
                    </form>
                </div>

            </div>
        </nav>
        
   </section>
   <section id="SEARCH-RESULTS">
    <div class="result-container">

        <div class="uk-child-width-1-4@m" uk-grid>

            {{#each searchResults}}
                <div onclick="redirectToFestivalPage({{{id}}})">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">
                                {{name}}
                            </h3>
                            <div class="uk-column-1-2">
                                <div class="festival-card-stats festival-card-stats-region">
                                    {{city}}
                                </div>
                                
                                <div class="festival-card-stats festival-card-stats-genre">
                                    {{genre}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}

        </div>

   </section>
</section>

<script> 
    function redirectToFestivalPage( id ) {
        window.location.href = `/festival/${id}`;
    }
</script> 