body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #05b205FF;
}

// NAVBAR /////////////////

.uk-logo {
  font-family: 'Marck Script', cursive;
  font-size: 4em;
}
//////////////////////////
